/firstServer/node_modules
/mailServer/node_modules
/node_modules
# Keep environment variables out of version control
/firstServer/.env
/firstServer/dist
/firstServer/client/node_modules
/mailServer/dist
/firstServer/.clinic
/firstServer/prisma/dev.db
/firstServer/prisma/dev.db-journal
/rabbitmq
/rab2